.Backend.Manager {
    .btn {
        padding: 8px 15px;
        border-radius: var(--border-radius);

        i {
            margin-left: 4px;
        }
    }

    .input-group {
        background-color: var(--app-bg-color) !important;
    }

    .main {
        padding-left: 0;
        min-height: 100vh;
        background-color: var(--app-bg-color);

        .sticky-top {
            display: flex;
            height: var(--app-header-height-sm);
            background-color: var(--app-bg-color);

            &>.d-flex {
                padding: 12px 32px 9px 18px;
            }

            .user-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 200px;
                padding: 0 16px;
                border-left: 1px solid var(--border-20);

                .name {
                    font-weight: 700;
                }

                .profile-pic {
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                }
            }
        }

        .nav.nav-tabs {
            padding-bottom: 10px;

            &.flex-column {
                border: none;
                padding-bottom: 0;
            }

            .nav-item {
                cursor: pointer;
            }
        }
    }

    main>div>.content {
        padding: 16px;
    }
}

@media (min-width: 800px) {
    .Backend.Manager {
        .btn {
            padding: 10px 20px;

            i {
                margin-left: 7px;
            }
        }

        .main {
            padding-left: var(--app-sidebar-width);

            .sticky-top {
                height: 78.47px;

                &>.d-flex {
                    padding: 16px 48px 12px 21px;
                }

                .user-info {
                    width: 261px;
                    padding: 0 20px;
                }
            }

            .nav.nav-tabs {
                padding-bottom: 10px;
            }
        }

        main>div>.content {
            padding: 26px;
        }
    }
}

@media (min-width: 1280px) {
    .Backend.Manager {
        .btn {
            padding: 13px 25px;

            i {
                margin-left: 10px;
            }
        }

        .main {

            .sticky-top {

                &>.d-flex {
                    padding: 19px 64px 15px 25px;
                }

                .user-info {
                    width: 322px;
                    padding: 0 24px;
                }
            }

            .nav.nav-tabs {
                padding-bottom: 10px;
            }
        }

        main>div>.content {
            padding: 36px;
        }
    }
}