/node_modules
/public/hot
/public/storage
/public/images/publications
/public/images/testimonies
/public/images/team-members
/public/images/partners
/public/images/users
/public/images/admins
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
cms.json
