.SectionTitle {
    margin-bottom: 15px;
    display: flex;
    align-items: stretch;

    .icon {
        // display: none;
        padding-right: 11px;

        .wrapper {
            width: 57px;
            height: 57px;
            display: flex;
            font-size: 20px;
            color: var(--blue);
            align-items: center;
            justify-content: center;
            background-color: var(--blue-10);
            border-radius: var(--border-radius);
        }
    }

    .text {
        .title {
            font-size: 24px;
            font-weight: 700;
            color: var(--blue);
            display: inline-block;
            text-transform: uppercase;
            border-bottom: .5px solid var(--border);
        }
    }

    &.centered {
        justify-content: center;

        .text {
            text-align: center;
        }
    }
}

@media (min-width: 800px) {
    .SectionTitle {
        margin-bottom: 20px;

        .icon {
            display: block;
            padding-right: 13px;

            .wrapper {
                width: 67px;
                height: 67px;
                font-size: 25px;
            }
        }

        .text {
            .title {
                font-size: 27px;
                margin-bottom: 3px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .SectionTitle {
        margin-bottom: 25px;

        .icon {
            padding-right: 15px;

            .wrapper {
                width: 77px;
                height: 77px;
                font-size: 30px;
            }
        }

        .text {
            .title {
                font-size: 30px;
                margin-bottom: 7px;
            }
        }
    }
}