.Backend.Manager .SideDrawer {
	width: var(--app-sidebar-width);
	top: 0;
	z-index: 1040;
	height: calc(100vh);
	left: -100%;
	position: fixed;

	.content {
		z-index: 1;
		padding: 16px;
		background-color: var(--app-bg-color);
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: var(--blue-10);
		}
	}

	.navbar-nav {
		height: calc(100vh - 160px);
		width: calc(100% + 1rem);
		overflow: auto;
	}

	.backdrop {
		height: calc(100vh);
		display: none;
		width: 200%;
		top: 0;
		left: 0;
		z-index: -1;
		position: fixed;
		background-color: var(--black-50);
	}

	nav.flex-fill {
		overflow-y: auto;
		scrollbar-color: var(--blue);
		scrollbar-width: 3px;
		height: calc(100% - 150px);

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			background-color: #f5f5f5;
		}

		&::-webkit-scrollbar {
			width: 3px;
			background-color: #f5f5f5;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--blue);
		}
	}
}

@media (min-width: 800px) {
	.Backend.Manager .SideDrawer {
		left: 0 !important;

		.backdrop {
			display: none !important;
		}

		.navbar-nav {
			height: calc(100vh - 210px);
		}

		.content {
			padding: 20px;
		}
	}
}

@media (min-width: 1280px) {
	.Backend.Manager .SideDrawer {
		.content {
			padding: 24px;
		}
	}
}