.Frontend .Contact {
    section {
        background-color: var(--blue-10);

        .container {
            p {
                text-align: center;
            }

            form {
                .submit {
                    margin-top: 20px;
                    text-align: center;
                }
            }

            iframe {
                width: 100%;
                height: 100%;
                border-radius: var(--border-radius);
                background-color: var(--app-primary-color);
            }
        }
    }
}

@media (min-width: 800px) {
    .Frontend .Contact {
        section {
            .container {
                form {
                    .submit {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .Frontend .Contact {
        section {
            .container {
                form {
                    .submit {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}