.UI.TeamMemberBlock {
    display: flex;
    align-items: center;
    flex-direction: column;

    .img {
        width: 100% !important;
        margin-bottom: 20px;

        .embed-responsive {
            border: 1px solid var(--border-10);
            border-radius: var(--border-radius);
        }
    }

    .name {
        font-size: 18px;
        font-weight: 700;
        color: var(--blue);
        text-transform: uppercase;
    }

    .job {
        text-align: center;
    }
}