.Frontend .Publications {
    section {
        background-color: var(--blue-10);

        .container {
            .PublicationBlock {
                margin-bottom: 16px;
            }
        }
    }
}

@media (min-width: 800px) {
    .Frontend .Publications {
        section {
            .container {
                .PublicationBlock {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .Frontend .Publications {
        section {
            .container {
                .PublicationBlock {
                    margin-bottom: 24px;
                }
            }
        }
    }
}